<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAe0qqJbV1n1nwN-tjgp9IFjTga38G4eKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>243376022885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.infinity.chatBox</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b04ab</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b04ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243376022885:ios:28295659bfb322da4bed8c</string>
</dict>
</plist>